body {
  margin: 0px;
}
#wrapper {
  position: relative;
}

#map {
  width: 70%;
  height: 90%;
  z-index: 0;
}

#test {
  position: absolute;
  width: 400px;
  height: 200px;
  bottom: 0px;
  left: 0px;
  z-index: 1;
  background-color: aqua;
  display: inline-block;
}

#list {
  background: darkorange;
  width: 30%;
  height: 100%;
  right: 0px;
  top: 0px;
  position: fixed;
}

#flex-container{
  display: flex;
  display: -webkit-flex;
}

#flex-item{

}
