@background: darkorange;

body {
    margin: 0px;

}

#wrapper {
	position: relative;
}

#map {
    width: 70%;
    height: 100vh;
	z-index: 0;
}

#heightProfile {
	position: absolute;
	bottom: 0px;
	left: 0px;
	z-index: 1;
}

#listcontainer {
	background: @background;
	width: 30%;
	height: 100%;
	right: 0px;
	top: 18px;
	position: fixed;
	margin: 0px;
	padding: 0px;
}

#pagination {
	width: 30%;
	height: 18px;
	right: 0px;
	top: 0px;
	position: fixed;
	background: darkslateblue;
}

#list {
	position:relative;
	margin: 0px;
	padding: 0px;

	li{
		overflow:hidden;
		text-overflow:ellipsis;
		white-space:nowrap;
		height: 30px;
		background: aquamarine;
		margin-bottom: 2px;
	}
}