//Farben-Variablen
@list-background: white;
@pagination-background: darkorange;
@li-background: darken(@list-background, 20%);
@li-hover-background: peachpuff;
@arrow: black;
@arrow-hover: lighten(@arrow, 70%);

body {
    margin: 0;
	font-family: Tahoma, Geneva, sans-serif;
}

#wrapper {
	position: relative;

  //Google-Map
  #map {
    width: 70%;
    height: 100vh;
    z-index: 0;
  }

  //Höhenprofil fest in unteren linken Ecke
  #heightProfile {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 1;
  }
}

//Pagination fest am oberen rechten Rand
#pagination {
  width: 30%;
  height: 22px;
  right: 0;
  top: 0;
  position: fixed;
  background: @pagination-background;

  #arrows {

    i {
      border: solid @arrow;
      .arrow;

      //Aufbau Pfeil Grundlage
      .arrow {
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        margin: 5px;
      }

      //Pfeil ändert Farbe bei hover
      &:hover {
        border: solid @arrow-hover;
        .arrow;
      }

      //Element drehen, sodass Pfeile nach links und rechts entstehen
      &#left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        margin-left: 5px;
      }
      &#right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
      }
    }
  }
  //Seitenzahlen rechts in Pagination Box
  #pageNumbers {
    float: right;
    position: fixed;
    right: 0;
    top: 0;
    margin-right: 5px;
  }
}

#listcontainer {
	background: @list-background;
	width: 30%;
	height: 100%;
	right: 0;
	top: 22px;
	position: fixed;
	margin: 0;
	padding: 0;

  #list {
    position:relative;
    margin: 0;
    padding: 0;

    //List-Elemente
    li {
      //Kein scrollen wenn Inhalt nicht genug Platz in Box
      overflow:hidden;
      //... an Ende von Text, falls nicht genug Platz in Box
      text-overflow:ellipsis;
      //Text bleibt in einer Linie
      white-space:nowrap;
      height: 30px;
      background: @li-background;
      margin-bottom: 2px;
      //Text mittig in Box
      line-height: 30px;
      padding-left: 4px;

      &:hover {
        background: @li-hover-background;
      }
    }
  }
}
